.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    // background-color: #f9f9f9;
}

h1 {
    // color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

// .codeSnippet {
//     background: #282c34;
//     color: #abb2bf;
//     padding: 15px;
//     border-radius: 8px;
//     margin-bottom: 20px;
//     overflow-x: auto;
// }

.nav {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

.navButton {
    background-color: #0078d4;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #005ea8;
    }
}

.outlet {
    margin-top: 20px;
    padding: 15px;
    // background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}