.layout {
    height: 100vh; // 设置布局的高度占满整个页面
}

.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
}

.header {
    background-color: #001529; // Ant Design 默认深色主题
    // color: white;
    display: flex;
    justify-content: space-between;

}

.content {
    color: #333;
    // background-color: red;
    padding: 24px;
}