:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* 
  color-scheme CSS 属性允许元素指示它可以舒适地呈现哪些颜色方案。
  操作系统颜色方案的常见选择为“亮色”和“暗色”，或“日间模式”和“夜间模式”。
  当用户选择其中一种颜色方案时，操作系统会对用户界面进行调整，包括表单控件、滚动条和 CSS 系统颜色的使用值。
  */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}