// /* treeStyles.scss */

// .tree-label {
//     font-size: 14px;
//     padding: 5px;
//     border: 1px solid #ddd;
//     margin-bottom: 4px;
//     cursor: pointer;
//     background-color: #ffffff;
//     transition: background-color 0.3s ease;
// }

// .tree-label[aria-selected="true"] {
//     background-color: pink;
// }

// .tree-label:hover {
//     background-color: #f5f5f5;
// }

// .tree-label:active {
//     background-color: #e0e0e0;
// }

// /* 控制展开/收起箭头的样式 */
// .react-arborist-node-expanded .tree-label:before {
//     content: '▼';
//     margin-right: 5px;
// }

// .react-arborist-node-collapsed .tree-label:before {
//     content: '►';
//     margin-right: 5px;
// }

// .tree-label {
//     // font-size: 14px;
//     padding: 15px;
//     cursor: pointer;
//     background-color: #ffffff;
//     transition: background-color 0.3s ease;
// }

.tree-label {
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #ffffff;
    /* 初始状态，透明并且稍微位移 */
    opacity: 0;
    transform: translateY(10px);
    /* 稍微向上移动 */
    animation: fadeInUp 0.6s ease forwards;
    /* 使用动画 */
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.tree-label:hover {
    background-color: #f5f5f5;
}


[aria-selected="true"] {
    .MD {
        background-color: #666;
    }
}

.selected {
    background-color: red;
}


.selected:hover {
    // background-color: #f5f5f5;
}